@model IEnumerable<ImbizoFoundation.Models.MarketPlace>

@{
    ViewData["Title"] = "Index";
}
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Home</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='~/courses.css'>

</head>

  <nav class="navbar">

    <img  src="https://cdn.discordapp.com/attachments/951415115431936000/1020080722435915786/Icon_1.png" width="8%" alt="Imbizo Foundation Logo">


  </nav>
  <h1>Market Place List</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead style="background-color:lightgreen">
        <tr>
            <th>
                Company Name
            </th>
            <th>
                Company Email Address
            </th>
            <th>
                Company Description
            </th>
            <th>
                Compnay Logo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyDescription)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.companyLogoURL)" width="70px" height="50px">
                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.companyName">Edit</a> |
             
                <a asp-action="Delete" asp-route-id="@item.companyName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />

<div>
    <a style="color: black;"  onclick="location.href='@Url.Action("Main", "Home")'" >Main Dashboard</a>
</div>
